<div class="form-group row">
    <div class="col-xs-1">
        <label for="sel1">CAS:</label>
        <select class="form-control" id="sel1">
            <option>RJ</option>
            <option>SP</option>
            <option>RPO</option>
            <option>MCE</option>
        </select>
    </div>
</div>