<div class="form-group row">
    <div class="col-xs-5">
        <label for="sel2">Segure shift para selecionar mais de um ou CTRL:</label>
        <select multiple class="form-control" id="sel2">
            <option>Vídeo Premio</option>
            <option>Vídeo Aniversário</option>
            <option>Foto Diretora</option>
        </select>
    </div>
</div>
