<div class="form-group row">
    <div class="col-xs-2">
        <label for="sel1">Tipo de Arquivo:</label>
        <select class="form-control" id="sel1">
            <option>Vídeo</option>
            <option>Imagem</option>
        </select>
    </div>
</div>