@{
    ViewData["Title"] = "Criação de Playlist";
}

<fieldset>
    <form>
        <legend>Criar Playlist:</legend>

        @Html.Partial("_ObterListaCas")

        <div class="form-group row">
            <div class="col-xs-3">
                @*<label for="sel1">Nome Playlist:</label>*@
                <div class="input-group">
                    <span class="input-group-addon">Nome Playlist:</span>
                    <input id="msg" type="text" class="form-control" name="msg" placeholder="Nome da playlist">
                </div>
            </div>
        </div>

        @Html.Partial("_ObterListaTipoArquivo")
        @Html.Partial("_ObterVideosUpload")

        <div class="row">

            <div class="col-md-3 col-md-offset-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Inserir</button>
                </div>
            </div>
        </div>
        <fieldset>
            <legend>Playlist Cas RJ01</legend>
            <div class="container">
                @*<p>The .table-hover class enables a hover state on table rows:</p>*@
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mídia</th>
                            <th>Ordenação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Vídeo 1</td>
                            <td><a href="#">1</a></td>
                        </tr>
                        <tr>
                            <td>Vídeo 2</td>
                            <td><a href="#">2</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <div class="form-group ">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

        <fieldset>
            <legend>Lista de Playlist:</legend>
            <div class="container">
                @*<p>The .table-hover class enables a hover state on table rows:</p>*@
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome Playlist</th>
                            <th>Edição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Playlist 1</td>
                            <td><a href="#">Play</a></td>
                            <td><a href="#">Pause</a></td>
                            <td><a href="#">Excluir</a></td>
                        </tr>
                        <tr>
                            <td>Playlist 2</td>
                            <td><a href="#">Play</a></td>
                            <td><a href="#">Pause</a></td>
                            <td><a href="#">Excluir</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</fieldset>