
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Não Autorizado</title>
</head>
<body>
    <h1>401</h1>
    <h2>Você não está autenticado</h2>
</body>
</html>
